In [1]:
#Datensatz importieren und definieren 
import pandas as pd

df = pd.read_csv("../data/Library_Usage.csv")
df['Circulation Active Year']

0     2016
1     2016
2     2008
3     2013
4     2016
5     2016
6     2016
7     2016
8     2016
9     2016
10    None
11    2016
12    2015
13    2015
14    None
15    2015
16    2016
17    None
18    2013
19    None
Name: Circulation Active Year, dtype: object

In [2]:
df = pd.read_csv("../data/Library_Usage.csv", na_values="None")
df['Circulation Active Year']

0     2016.0
1     2016.0
2     2008.0
3     2013.0
4     2016.0
5     2016.0
6     2016.0
7     2016.0
8     2016.0
9     2016.0
10       NaN
11    2016.0
12    2015.0
13    2015.0
14       NaN
15    2015.0
16    2016.0
17       NaN
18    2013.0
19       NaN
Name: Circulation Active Year, dtype: float64

In [3]:
df = pd.read_csv("../data/Library_Usage.csv", na_values="None")
df['Circulation Active Year'] = pd.to_numeric(df['Circulation Active Year'], errors='coerce')
df['Circulation Active Year']

0     2016.0
1     2016.0
2     2008.0
3     2013.0
4     2016.0
5     2016.0
6     2016.0
7     2016.0
8     2016.0
9     2016.0
10       NaN
11    2016.0
12    2015.0
13    2015.0
14       NaN
15    2015.0
16    2016.0
17       NaN
18    2013.0
19       NaN
Name: Circulation Active Year, dtype: float64

In [4]:
df[df['Age Range'].isna()]
df[df['Age Range'].notna()]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016.0,p,phone,False,2010,False,10.0
1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016.0,z,email,True,2015,False,4.0
2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008.0,z,email,True,2003,False,8.0
3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013.0,p,phone,False,2004,False,10.0
4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016.0,z,email,True,2014,False,11.0
5,1,JUVENILE,1,0,10 to 19 years,M4,Merced,May,2016.0,z,email,True,2016,False,11.0
6,1,JUVENILE,293,11,0 to 9 years,M6,Mission,June,2016.0,z,email,True,2014,False,8.0
7,1,JUVENILE,900,6,0 to 9 years,V3,Visitacion Valley,June,2016.0,a,print,False,2011,False,10.0
8,1,JUVENILE,1569,801,10 to 19 years,W4,Western Addition,July,2016.0,z,email,True,2009,False,8.0
9,1,JUVENILE,45,0,0 to 9 years,A5,Anza,June,2016.0,z,email,True,2015,False,1.0
10,1,JUVENILE,0,0,0 to 9 years,S7,Sunset,NaN,NaN,p,phone,False,2015,False,7.0
11,1,JUVENILE,73,8,0 to 9 years,P3,Parkside,July,2016.0,z,email,True,2015,False,4.0
12,1,JUVENILE,12,0,0 to 9 years,X,Main Library,October,2015.0,z,email,True,2015,False,6.0
13,2,YOUNG ADULT,26,3,10 to 19 years,M4,Merced,November,2015.0,z,email,True,2009,False,NaN
14,0,ADULT,0,0,10 to 19 years,M4,Merced,NaN,NaN,z,email,True,2015,True,NaN
15,3,SENIOR,18,6,75 years and over,W2,West Portal,June,2015.0,p,phone,False,2003,False,7.0
16,1,JUVENILE,603,0,0 to 9 years,X,Main Library,July,2016.0,a,print,False,2012,False,11.0
17,1,JUVENILE,0,0,0 to 9 years,A5,Anza,NaN,NaN,z,email,True,2015,False,1.0
18,1,JUVENILE,7,0,0 to 9 years,B2,Bayview/Linda Brooks-Burton,December,2013.0,p,phone,False,2013,False,10.0
19,3,SENIOR,0,0,75 years and over,S7,Sunset,NaN,NaN,z,email,True,2008,True,NaN

In [5]:
df.isna().sum()

Patron Type Code                0
Patron Type Definition          0
Total Checkouts                 0
Total Renewals                  0
Age Range                       0
Home Library Code               0
Home Library Definition         0
Circulation Active Month        4
Circulation Active Year         4
Notice Preference Code          0
Notice Preference Definition    0
Provided Email Address          0
Year Patron Registered          0
Outside of County               0
Supervisor District             3
dtype: int64

In [6]:
# drops all rows that contain at least one missing values
df.dropna()
# drops all missing values in this series
df['Age Range'].dropna()

0        10 to 19 years
1          0 to 9 years
2        10 to 19 years
3        20 to 24 years
4          0 to 9 years
5        10 to 19 years
6          0 to 9 years
7          0 to 9 years
8        10 to 19 years
9          0 to 9 years
10         0 to 9 years
11         0 to 9 years
12         0 to 9 years
13       10 to 19 years
14       10 to 19 years
15    75 years and over
16         0 to 9 years
17         0 to 9 years
18         0 to 9 years
19    75 years and over
Name: Age Range, dtype: object

In [7]:
df['Age Range'].fillna("keine Angabe")

0        10 to 19 years
1          0 to 9 years
2        10 to 19 years
3        20 to 24 years
4          0 to 9 years
5        10 to 19 years
6          0 to 9 years
7          0 to 9 years
8        10 to 19 years
9          0 to 9 years
10         0 to 9 years
11         0 to 9 years
12         0 to 9 years
13       10 to 19 years
14       10 to 19 years
15    75 years and over
16         0 to 9 years
17         0 to 9 years
18         0 to 9 years
19    75 years and over
Name: Age Range, dtype: object